+1 |subject PIPEPIPEهجوم لجنود الخلافة على مواقع الـ PKK المرتدين غربي منطقة عين عيسى PIPEPIPE |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">هجوم لجنود الخلافة على مواقع الـ PKK المرتدين غربي منطقة <b>عين عيسى</b> </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE<br /></font></b></span></font> |collection opensource_media |addeddate 2016-01-20 19COLON02COLON04 |identifier 145227035432 |title 145227035432 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 19COLON02COLON04 
+1 |subject PIPEPIPE 230 بين قتيل وجريح بعملية استشهادية على مع للمرتدين في مدينة زليتن PIPEPIPE |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000"> 230 بين قتيل وجريح بعملية استشهادية على مع للمرتدين في مدينة <b>زليتن PIPEPIPE</b></font></b></span></font> |collection opensource_media |addeddate 2016-01-20 18COLON57COLON51 |identifier 15dloc1 |title 15dloc 1 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 18COLON57COLON51 
+1 |subject ss |description ss |collection opensource_movies loggedin |addeddate 2016-01-20 15COLON55COLON21 |identifier 1AlQGy2012016.mp4.480p |title 1 Al QGy 20 1 2016.mp 4.480p |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader akhbar.sa.tn gmail.com |publicdate 2016-01-20 15COLON55COLON21 
+1 |subject a3maq |description a3maq |collection opensource_movies loggedin |addeddate 2016-01-20 20COLON17COLON03 |identifier 1dr20012016 |title 1dr 20012016 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader x5hs1 mail.ru |publicdate 2016-01-20 20COLON17COLON03 
+1 |subject a3maq |description a3maq |collection opensource_movies loggedin |addeddate 2016-01-20 16COLON15COLON45 |identifier 1dryr20012016 |title 1dryr 20012016 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader x5hs1 mail.ru |publicdate 2016-01-20 16COLON15COLON45 
+1 |subject فيديو يظهر المواقع التي سيطرت عليها قوات الدولة الإسلامية مؤخرا في دير الزور |collection opensource_movies loggedin |creator فيديو يظهر المواقع التي سيطرت عليها قوات الدولة الإسلامية مؤخرا في دير الزور |scanner Internet Archive HTML5 Uploader 1.6.3 |description فيديو يظهر المواقع التي سيطرت عليها قوات الدولة الإسلامية مؤخرا في دير الزور |identifier aboahmed89_tutanota_20160120_1927 |title فيديو يظهر المواقع التي سيطرت عليها قوات الدولة الإسلامية مؤخرا في دير الزور |uploader aboahmed89 tutanota.com |addeddate 2016-01-20 19COLON28COLON56 |publicdate 2016-01-20 19COLON28COLON56 
+1 |subject ملاحقة وتصفية عناصر من قوات النظام في جبل الجحيف غربي دير الزور |description ملاحقة وتصفية عناصر من قوات النظام في جبل الجحيف غربي دير الزور |collection opensource_movies loggedin |addeddate 2016-01-20 20COLON51COLON59 |identifier aboahmed89_tutanota_20160120_2050 |title ملاحقة وتصفية عناصر من قوات النظام في جبل الجحيف غربي دير الزور |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader aboahmed89 tutanota.com |publicdate 2016-01-20 20COLON51COLON59 
+1 |subject الحق بالركب |collection opensource_movies loggedin |creator الحق بالركب |scanner Internet Archive HTML5 Uploader 1.6.3 |description الحق بالركب |identifier aboahmed89_tutanota_20160120_2154 |title الحق بالركب |uploader aboahmed89 tutanota.com |addeddate 2016-01-20 21COLON54COLON59 |publicdate 2016-01-20 21COLON54COLON59 
+1 |subject AAEC |description AADSE |collection opensource_movies |addeddate 2016-01-20 20COLON57COLON29 |identifier aljazai25 |title aljazair |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader djggddgts yandex.com |publicdate 2016-01-20 20COLON57COLON29 
+1 |subject iojio |description i9uji |collection opensource_movies |addeddate 2016-01-20 15COLON53COLON13 |identifier aljazair |title aljazair |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader rfger.ergreg mail.ru |publicdate 2016-01-20 15COLON53COLON13 
+1 |subject isdarat |description furat |collection opensource_movies loggedin |addeddate 2016-01-20 15COLON35COLON00 |identifier AMALOMAH_20160120 |title إلى فرسان المغرب الإسلامي |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader Vxvc95i tutanota.com |publicdate 2016-01-20 15COLON35COLON00 
+1 |subject isdarat |description demashq |collection opensource_movies loggedin |addeddate 2016-01-20 16COLON38COLON23 |identifier AMALOMAH_20160120_1637 |title ولا عدوان إلا على الظالمين |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader Vxvc95i tutanota.com |publicdate 2016-01-20 16COLON38COLON23 
+1 |subject isdarat |description مؤسسة البتار للإنتاج الإعلامي |collection opensource_movies loggedin |addeddate 2016-01-20 17COLON49COLON48 |identifier AMALOMAH_20160120_1748 |title بيعة ليبيا المختار للخليفة |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader Vxvc95i tutanota.com |publicdate 2016-01-20 17COLON49COLON48 
+1 |subject isdarat |description hems |collection opensource_movies loggedin |addeddate 2016-01-20 19COLON12COLON25 |identifier AMALOMAH_20160120_1911 |title إليكم يا بني قومي رسالة |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader Vxvc95i tutanota.com |publicdate 2016-01-20 19COLON12COLON25 
+1 |
+1 |subject بلاد الفاتحين; المغرب الإسلامي |collection opensource_movies loggedin |creator عزنا بإسلامنا |scanner Internet Archive HTML5 Uploader 1.6.3 |description ولاية الرقة COLON بلاد الفاتحين<div>#المغرب _الإسلامي</div> |identifier beladFat7en |title ولاية الرقة COLON بلاد الفاتحين |uploader b2slamna1 ghostmail.com |addeddate 2016-01-20 20COLON36COLON27 |publicdate 2016-01-20 20COLON36COLON27 
+1 |collection opensource_movies loggedin |language eng |date 2016-01-19 |creator أبي محمد الأنصاري119 |identifier bilaadalfatiheen |title المكتب الإعلامي لولاية الرقة يقدمCOLONبلاد الفاتحين # الثلاثاء 08 ربيع الثاني 1437 هـ |year 2016 |uploader shadrtyhjui777k55678km msn.com |addeddate 2016-01-20 14COLON04COLON44 |publicdate 2016-01-20 14COLON04COLON44 
+1 |subject ولاية الرقة ; الإصدار المرئي ; بلاد الفاتحين |collection opensource_movies loggedin |language eng |creator ابو قدامة المهاجر |identifier biledalfatihin-001 |title ولاية الرقة الإصدار المرئي بلاد الفاتحين |year 2015 |uploader ejkg1xqa randomail.net |addeddate 2016-01-20 21COLON45COLON48 |publicdate 2016-01-20 21COLON45COLON48 
+1 |subject ولاية الرقة ; الإصدار المرئي ; بلاد الفاتحين |collection opensource_movies loggedin |language eng |creator ابو قدامة المهاجر |identifier biledalfatihin-002 |title ولاية الرقة الإصدار المرئي بلاد الفاتحين |year 2015 |uploader t0v88j7f randomail.net |addeddate 2016-01-20 21COLON47COLON16 |publicdate 2016-01-20 21COLON47COLON16 
+1 |subject دولة الخلافة; المغرب الإسلامي |collection opensource_movies loggedin |creator عزنا بإسلامنا |scanner Internet Archive HTML5 Uploader 1.6.3 |description ولاية نينوى COLON إلى بلاد المغرب الإسلامي |identifier bladmag |title ولاية نينوى COLON إلى بلاد المغرب الإسلامي |uploader b2slamna1 ghostmail.com |addeddate 2016-01-20 20COLON44COLON45 |publicdate 2016-01-20 20COLON44COLON45 
+1 |subject PIPEPIPE إسقاط طائرة مسيرة أمريكية في منطقة عكاشات جنوبي الولاية PIPEPIPE |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000"> إسقاط طائرة مسيرة أمريكية في منطقة عكاشات جنوبي الولاية </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |addeddate 2016-01-20 19COLON04COLON36 |identifier CYNmHdAWcAAXN.jpgLarge |title CYNm Hd AWc AA X N.jpg Large |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 19COLON04COLON36 
+1 |addeddate 2016-01-20 22COLON02COLON52 |collection opensource_movies loggedin |language eng |identifier dsdsdsdsod0oieiueufjfvmfjjfo0o |title o |uploader shadrtyhjui777k55678km msn.com |publicdate 2016-01-20 22COLON02COLON52 
+1 |subject ولاية الجزائر; المغرب الإسلامي; دولة الخلافة |collection opensource_movies loggedin |creator عزنا بإسلامنا |scanner Internet Archive HTML5 Uploader 1.6.3 |description ولاية الجزائر COLON الحق بالركب |identifier el7aqbe |title ولاية الجزائر COLON الحق بالركب |uploader b2slamna1 ghostmail.com |addeddate 2016-01-20 21COLON47COLON48 |publicdate 2016-01-20 21COLON47COLON48 
+1 |collection opensource_movies loggedin |language ar |creator ولاية حمص // الإصدار المرئي PIPEPIPE إليكم يا بني قومي رسالة PIPEPIPE |description ولاية حمص // الإصدار المرئي PIPEPIPE إليكم يا بني قومي رسالة PIPEPIPE |identifier el_hm |title ولاية حمص // الإصدار المرئي PIPEPIPE إليكم يا بني قومي رسالة PIPEPIPE |year 2016 |uploader bgewsghklgccssw yahoo.com |addeddate 2016-01-20 20COLON02COLON39 |publicdate 2016-01-20 20COLON02COLON39 
+1 |subject إلى فرسان مغرب الإسلام |collection opensource_movies loggedin |creator إلى فرسان مغرب الإسلام |scanner Internet Archive HTML5 Uploader 1.6.3 |description إلى فرسان مغرب الإسلام |identifier gharibgt_tutanota_20160120 |title إلى فرسان مغرب الإسلام |uploader gharibgt tutanota.com |addeddate 2016-01-20 15COLON56COLON21 |publicdate 2016-01-20 15COLON56COLON21 
+1 |subject ولا عدوان إلا على الظالمين |collection opensource_movies |creator ولا عدوان إلا على الظالمين |scanner Internet Archive HTML5 Uploader 1.6.3 |description ولا عدوان إلا على الظالمين |identifier gharibgt_tutanota_20160120_1607 |title ولا عدوان إلا على الظالمين |uploader gharibgt tutanota.com |addeddate 2016-01-20 16COLON08COLON20 |publicdate 2016-01-20 16COLON08COLON20 
+1 |subject نعم نغضب |collection opensource_movies |creator نعم نغضب |scanner Internet Archive HTML5 Uploader 1.6.3 |description نعم نغضب |identifier gharibgt_tutanota_20160120_1638 |title نعم نغضب |uploader gharibgt tutanota.com |addeddate 2016-01-20 16COLON38COLON59 |publicdate 2016-01-20 16COLON38COLON59 
+1 |subject بيعة ليبيا المختار للخليفة الكرار |collection opensource_movies |creator بيعة ليبيا المختار للخليفة الكرار |scanner Internet Archive HTML5 Uploader 1.6.3 |description بيعة ليبيا المختار للخليفة الكرار |identifier gharibgt_tutanota_20160120_1712 |title بيعة ليبيا المختار للخليفة الكرار |uploader gharibgt tutanota.com |addeddate 2016-01-20 17COLON16COLON23 |publicdate 2016-01-20 17COLON16COLON23 
+1 |subject إليكم يا بني قومي رسالةإليكم يا بني قومي رسالة |collection opensource_movies loggedin |creator إليكم يا بني قومي رسالة |scanner Internet Archive HTML5 Uploader 1.6.3 |description إليكم يا بني قومي رسالة |identifier gharibgt_tutanota_20160120_1857 |title إليكم يا بني قومي رسالة |uploader gharibgt tutanota.com |addeddate 2016-01-20 18COLON59COLON09 |publicdate 2016-01-20 18COLON59COLON09 
+1 |subject الحق بالركب |collection opensource_movies loggedin |creator الحق بالركب |scanner Internet Archive HTML5 Uploader 1.6.3 |description الحق بالركب |identifier gharibgt_tutanota_20160120_2120 |title الحق بالركب |uploader gharibgt tutanota.com |addeddate 2016-01-20 21COLON24COLON33 |publicdate 2016-01-20 21COLON24COLON33 
+1 |subject القران الموسيقى فلم |collection opensource_media |creator Adi |scanner Internet Archive HTML5 Uploader 1.6.3 |description قسوة القلب ؛ أن تبكيك الموسيقى ، ولقطات فيلم وقصيدة شاعر .. ولا يبكيك القران <br /> |identifier ilhem_nor_hotmail_20160120 |title القران |uploader ilhem_nor hotmail.fr |addeddate 2016-01-20 18COLON59COLON42 |publicdate 2016-01-20 18COLON59COLON42 
+1 |subject iraqlion |collection opensource_media loggedin |date 2016-01-20 |creator iraqlion |scanner Internet Archive HTML5 Uploader 1.6.3 |description iraqlion |identifier iraqlion_20160120 |title iraqlion |uploader gowentgn gmail.com |addeddate 2016-01-20 16COLON46COLON34 |publicdate 2016-01-20 16COLON46COLON34 
+1 |subject iraqlion |collection opensource_media loggedin |date 2016-01-20 |creator iraqlion |scanner Internet Archive HTML5 Uploader 1.6.3 |description <h1 |identifier iraqlion_20160120_1652 |title iraqlion |uploader gowentgn gmail.com |addeddate 2016-01-20 16COLON53COLON09 |publicdate 2016-01-20 16COLON53COLON09 
+1 |subject shortwave; IRIB Voice of Iran English radio |collection opensource_audio |date 2016-01-19 |creator ShortwaveRecordings |scanner Internet Archive HTML5 Uploader 1.6.3 |description IRIB - Voice of the Islamic Republic of Iran in English recorded in Europe at 1930 GMT on January 19, 2016 from the shortwave frequency of 7425 kHz |identifier IRIBInEnglish19January20161930GMT7425kHz |title IRIB In English 19 January 2016 1930 GMT 7425k Hz |uploader shortwaverecordings email.cz |addeddate 2016-01-20 18COLON08COLON31 |publicdate 2016-01-20 18COLON08COLON31 
+1 |subject 600 |description <p>00</p> |collection opensource_movies |addeddate 2016-01-20 13COLON00COLON52 |identifier ISDARDIMSHK |title ISDARDIMSHK |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader dmshko bk.ru |publicdate 2016-01-20 13COLON00COLON52 
+1 |subject shamikh1.info/vb; Islam |collection opensource_movies loggedin |language eng |addeddate 2016-01-20 17COLON28COLON12 |identifier ISDARDIMSHK_ |title ولا_عدوان_الا_على_الظالمين |year 2014 |uploader hgfhbgfhghgjretgrgfg mail.ru |publicdate 2016-01-20 17COLON28COLON12 
+1 |subject ولاية دمشق |description ولاية دمشق <br /> |collection opensource_movies |addeddate 2016-01-20 17COLON00COLON51 |identifier ISDARDIMSHK_20160120 |title ولاعدوان الا على الظالمين |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader islamicstate93 tutanota.com |publicdate 2016-01-20 17COLON00COLON51 
+1 |subject ولاية حمص |description ولاية حمص <br /> |collection opensource_movies |addeddate 2016-01-20 19COLON44COLON47 |identifier islamicstate93_tutanota_20160120_1935 |title اليكم يابني قومي رسالة |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader islamicstate93 tutanota.com |publicdate 2016-01-20 19COLON44COLON47 
+1 |
+1 |subject ولاية الجزائر |description ولاية الجزائر<br /> |collection opensource_movies loggedin |addeddate 2016-01-20 22COLON00COLON22 |identifier islamicstate93_tutanota_20160120_2157 |title الجزائر الحق بالركب |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader islamicstate93 tutanota.com |publicdate 2016-01-20 22COLON00COLON22 
+1 |subject Dixit Memories JcK Jugando con Ketty VideoResena Video Resena Como jugar Juego de Mesa BoardGame |collection opensource_movies |language spa |licenseurl  |creator JcK |description <small>Instrucciones en Espanol<br /></small> |identifier JcK0296Dixit_6_Memories |title JcK0296Dixit_6_Memories |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader jugandoconketty gmail.com |addeddate 2016-01-20 23COLON21COLON09 |publicdate 2016-01-20 23COLON21COLON09 
+1 |subject Syria |description Atirah |collection opensource_movies |addeddate 2016-01-20 14COLON49COLON03 |identifier JN_201601 |title JN_201601 |uploader h.freriks quicknet.nl |creator  |publicdate 2016-01-20 14COLON49COLON11 
+1 |subject Syria |collection opensource_movies |creator  |description Atirah |runtime 2 minutes 48 seconds |identifier JN_20160120 |title JN_20160120 |uploader h.freriks quicknet.nl |addeddate 2016-01-20 14COLON52COLON40 |publicdate 2016-01-20 14COLON52COLON47 
+1 |subject ss |description ss |collection opensource_movies loggedin |addeddate 2016-01-20 16COLON49COLON48 |identifier k0zrjeqvxt6_480 |title k0zrjeqvxt6_480 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader akhbar.sa.tn gmail.com |publicdate 2016-01-20 16COLON49COLON48 
+1 |subject ولاية الجزيرة // تقرير مصور PIPEPIPE سير المعارك في قاطع المزارع PIPEPIPE |description <b style="colorCOLONrgb(255,0,0);" rel="nofollow">ولاية الجزيرة // تقرير مصور PIPEPIPE سير المعارك في قاطع المزارع PIPEPIPE</a></b> |collection opensource_media |addeddate 2016-01-20 18COLON01COLON55 |identifier kaldhussen_yahoo_1_20160120 |title 1 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 18COLON01COLON55 
+1 |subject PIPEPIPEصلاة الجمعة في قاطع القريتين PIPEPIPE |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">صلاة الجمعة في قاطع القريتين </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |addeddate 2016-01-20 18COLON12COLON29 |identifier kaldhussen_yahoo_1_20160120_1812 |title 1 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 18COLON12COLON29 
+1 |subject PIPEPIPE جانب من صلاة الجمعة في زوبع PIPEPIPE |description <b style="colorCOLONrgb(255,0,0);" rel="nofollow">PIPEPIPE جانب من صلاة الجمعة في زوبع PIPEPIPE</a></b> |collection opensource_media |addeddate 2016-01-20 18COLON16COLON58 |identifier kaldhussen_yahoo_1_20160120_1816 |title 1 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 18COLON16COLON58 
+1 |subject PIPEPIPE قنص جندي صفوي/ زوبع PIPEPIPE |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">قنص جندي صفوي/ زوبع </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |addeddate 2016-01-20 18COLON21COLON48 |identifier kaldhussen_yahoo_1_20160120_1821 |title 1 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 18COLON21COLON48 
+1 |subject PIPEPIPEجانب من رباط جنود الخلافة على صحوات الردة في قرية البل PIPEPIPE |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">جانب من رباط جنود الخلافة على صحوات الردة في قرية البل </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE<br /></font></b></span></font> |collection opensource_media |addeddate 2016-01-20 18COLON33COLON41 |identifier kaldhussen_yahoo_1_20160120_1833 |title 1 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 18COLON33COLON41 
+1 |subject PIPEPIPEيوم الجمعة في مدينة منبج PIPEPIPE |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">يوم الجمعة في مدينة <b>منبج</b> </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |addeddate 2016-01-20 18COLON43COLON22 |identifier kaldhussen_yahoo_1_20160120_1842 |title 1 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 18COLON43COLON22 
+1 |subject PIPEPIPE إسقاط طائرة أمريكية مسيرة بعد التصدي لها بالمضادات الأرضية قرب منطقة عاكاشات جنوبي الولاية PIPEPIPE |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000"> إسقاط طائرة أمريكية مسيرة بعد التصدي لها بالمضادات الأرضية قرب منطقة عاكاشات جنوبي الولاية </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |addeddate 2016-01-20 19COLON07COLON27 |identifier kaldhussen_yahoo_1_20160120_1907 |title 1 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 19COLON07COLON27 
+1 |subject PIPEPIPE جانب من غزوة الشيخ أبي عبدالله "سعد الأنصاري" - تقبله الله - لتطهير سدة سامراء من الجيش الصفوي وميليشياته PIPEPIPE |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000"> جانب من غزوة الشيخ أبي عبدالله "سعد الأنصاري" - تقبله الله - لتطهير سدة سامراء من الجيش الصفوي وميليشياته </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font /> |collection opensource_media |addeddate 2016-01-20 20COLON07COLON32 |identifier kaldhussen_yahoo_1_20160120_2006 |title 1 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 20COLON07COLON32 
+1 |subject PIPEPIPEصلاة الجمعة في جامع بلال بن رباح في قرية سوحا PIPEPIPE |description <div size="5"><span style="font-familyCOLON'traditional arabic';"><b><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font color="#800000">صلاة الجمعة في جامع بلال بن رباح في قرية سوحا </font></b></span></font><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font /></div><div><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font color="#800000"><br /></font></b></span></font></div> |collection opensource_media |addeddate 2016-01-20 18COLON26COLON05 |identifier kaldhussen_yahoo_22_201601 |title 2 2 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 18COLON26COLON05 
+1 |subject PIPEPIPEصلاة الجمعة في جامع بلال بن رباح في قرية سوحا PIPEPIPE |description <div size="5"><span style="font-familyCOLON'traditional arabic';"><b><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font color="#800000">صلاة الجمعة في جامع بلال بن رباح في قرية سوحا </font></b></span></font><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font /></div><div><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font color="#800000"><br /></font></b></span></font></div> |collection opensource_media |addeddate 2016-01-20 18COLON27COLON29 |identifier kaldhussen_yahoo_22_20160120 |title 2 2 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 18COLON27COLON29 
+1 |subject PIPEPIPE صلاة الجمعة في أحد مساجد مدينة الشدادي PIPEPIPE |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000"> صلاة الجمعة في أحد مساجد مدينة <b>الشدادي</b> </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |addeddate 2016-01-20 18COLON49COLON58 |identifier kaldhussen_yahoo_2_201601 |title 2 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader kaldhussen yahoo.com |publicdate 2016-01-20 18COLON49COLON58 
+1 |subject ولاية سيناء; المغرب الإسلامي |collection opensource_movies loggedin |creator عزنا بإسلامنا |scanner Internet Archive HTML5 Uploader 1.6.3 |description من سيناء الشام إلى أهلنا في مغرب الإسلام |identifier mensaina-1 |title ولاية سيناء COLON من سيناء الشام إلى أهلنا في مغرب الإسلام |uploader b2slamna1 ghostmail.com |addeddate 2016-01-20 20COLON58COLON10 |publicdate 2016-01-20 20COLON58COLON10 
+1 |collection opensource_movies loggedin |language eng |date 2016-01-19 |creator أبي محمد الأنصاري119 |identifier mnsennaaao0oalshaam |title المكتب الإعلامي لولاية سيناء يقدمCOLONمن سيناء الشام إلى أهلنا في مغرب الإسلام # الثلاثاء 08 ربيع الثاني 1437 هـ |year 2016 |uploader shadrtyhjui777k55678km msn.com |addeddate 2016-01-20 21COLON59COLON49 |publicdate 2016-01-20 21COLON59COLON49 
+1 |addeddate 2016-01-20 14COLON09COLON50 |collection opensource_movies loggedin |language eng |identifier nnvnfnffkfkldkflkflf0o0o |title o |uploader shadrtyhjui777k55678km msn.com |publicdate 2016-01-20 14COLON09COLON50 
+1 |subject ss |description ss |collection opensource_movies loggedin |addeddate 2016-01-20 16COLON33COLON52 |identifier qnthdv2kdwk_720 |title qnthdv2kdwk_720 |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader akhbar.sa.tn gmail.com |publicdate 2016-01-20 16COLON33COLON52 
+1 |subject فيديو يظهر قرى قرة كوبري وغزل ويني يابان في ريف حلب الشمالي بعد استعادة مقاتلي الدولة الإسلامية السيطرة عليهم |description فيديو يظهر قرى قرة كوبري وغزل ويني يابان في ريف حلب الشمالي بعد استعادة مقاتلي الدولة الإسلامية السيطرة عليهم |collection opensource_movies loggedin |addeddate 2016-01-20 19COLON28COLON41 |identifier qsfzaaboahmed89_tutanota_20160120_1928 |title فيديو يظهر قرى قرة كوبري وغزل ويني يابان في ريف حلب الشمالي بعد استعادة مقاتلي الدولة الإسلامية السيطرة عليهم |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader aboahmed89 tutanota.com |publicdate 2016-01-20 19COLON28COLON41 
+1 |subject إليكم يا بني قومي رسالة |description إليكم يا بني قومي رسالة |collection opensource_movies loggedin |addeddate 2016-01-20 19COLON26COLON56 |identifier razaboahmed89_tutanota_20160120_1926 |title إليكم يا بني قومي رسالة |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader aboahmed89 tutanota.com |publicdate 2016-01-20 19COLON26COLON56 
+1 |subject دولة الخلافة; المغرب الإسلامي |collection opensource_movies loggedin |creator عزنا بإسلامنا |scanner Internet Archive HTML5 Uploader 1.6.3 |description <div>سحروا أعين الناس واسترهبوهم</div><div>#المغرب_الإسلامي</div> |identifier sa7roaa |title ولاية الخير COLON سحروا أعين الناس واسترهبوهم |uploader b2slamna1 ghostmail.com |addeddate 2016-01-20 20COLON12COLON30 |publicdate 2016-01-20 20COLON12COLON30 
+1 |subject ولا عدوان إلا على الظالمين |collection opensource_movies |creator ولا عدوان إلا على الظالمين |scanner Internet Archive HTML5 Uploader 1.6.3 |description ولا عدوان إلا على الظالمين |identifier sfzaboahmed89_tutanota_20160120 |title ولا عدوان إلا على الظالمين |uploader aboahmed89 tutanota.com |addeddate 2016-01-20 19COLON24COLON10 |publicdate 2016-01-20 19COLON24COLON10 
+1 |subject الشرافي - كلمات منوعة |description 1- الأسباب المعينة على طلب العلم والاستمرار عليه 2- التحذير من ألفاظ منتشرة تجر إلى الشرك 3- آية الكرسي 4- كلمة حول العلم وفضله 5- كلمة حول تعلق الناس بمتابعة أحوال الطقس والإفراط في ذلك 6- كلمة حول مولد النبي محمد صلى الله عليه وسلم 7- مسائل في الكسوف وصلاته |collection opensource_audio |addeddate 2016-01-20 22COLON11COLON24 |identifier sharafi0167 |title كلمات قصيرة عبر الواتساب لشيخنا / محمد بن مبارك الشرافي رفع/ محمد بن صلاح الدين منزهي بتاريخ 11/4/1437 هـ |uploader manzahy gmail.com |creator  |publicdate 2016-01-20 22COLON11COLON32 
+1 |subject regfre |description sdcvs |collection opensource_movies |addeddate 2016-01-20 18COLON31COLON23 |identifier Srvrrft |title Srvrrft |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader tyui_94 inbox.ru |publicdate 2016-01-20 18COLON31COLON23 
+1 |subject shamikh1.info/vb; Islam |collection opensource_movies loggedin |language eng |addeddate 2016-01-20 19COLON09COLON56 |identifier Srvrrft_ |title إليكم_يا_بني_قومي_رسالة |year 2014 |uploader hgfhbgfhghgjretgrgfg mail.ru |publicdate 2016-01-20 19COLON09COLON56 
+1 |subject ss |description ss |collection opensource_movies loggedin |addeddate 2016-01-20 18COLON53COLON24 |identifier Srvrrft_201601 |title Srvrrft |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader akhbar.sa.tn gmail.com |publicdate 2016-01-20 18COLON53COLON24 
+1 |subject shamikh1.info/vb; Islam |collection opensource_movies loggedin |language eng |addeddate 2016-01-20 14COLON59COLON33 |identifier to_fursan_maghreb_islam_ |title إلى_فرسان_مغرب_الإسلام |year 2014 |uploader hgfhbgfhghgjretgrgfg mail.ru |publicdate 2016-01-20 14COLON59COLON33 
+1 |subject To Fursan Maghreb Islam |collection opensource_movies |creator To Fursan Maghreb Islam |scanner Internet Archive HTML5 Uploader 1.6.3 |description To Fursan Maghreb Islam |identifier ToFursanMaghrebIslam |title To Fursan Maghreb Islam |uploader snarito54 tutanota.com |addeddate 2016-01-20 13COLON22COLON34 |publicdate 2016-01-20 13COLON22COLON34 
+1 |subject ss |description ss |collection opensource_movies loggedin |addeddate 2016-01-20 15COLON12COLON37 |identifier ToFursanMaghrebIslam_201601 |title To Fursan Maghreb Islam |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader akhbar.sa.tn gmail.com |publicdate 2016-01-20 15COLON12COLON37 
+1 |subject ولاية الفرات |description ولاية الفرات<br /> |collection opensource_movies loggedin |addeddate 2016-01-20 15COLON54COLON50 |identifier ToFursanMaghrebIslam_20160120 |title إلى فرسان مغرب الإسلام |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader islamicstate93 tutanota.com |publicdate 2016-01-20 15COLON54COLON50 
+1 |subject wjzm |description WJZM |collection opensource_audio |addeddate 2016-01-20 15COLON54COLON57 |identifier wjzm011916gmc_201601 |title wjzm011916gmc |scanner Internet Archive HTML5 Uploader 1.6.3 |uploader icehousecafe gmail.com |publicdate 2016-01-20 15COLON54COLON57 
+1 |subject دولة الخلافة; ولاية حمص; المغرب الإسلامي |collection opensource_movies loggedin |creator عزنا بإسلامنا |scanner Internet Archive HTML5 Uploader 1.6.3 |description ولاية حمص COLON إليكم يا بني قومي رسالة |identifier yabniqaa |title ولاية حمص COLON إليكم يا بني قومي رسالة |uploader b2slamna1 ghostmail.com |addeddate 2016-01-20 22COLON25COLON02 |publicdate 2016-01-20 22COLON25COLON02 
