+1 |uploader kaldhussen yahoo.com |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">هجوم لجنود الخلافة على مواقع الـ PKK المرتدين غربي منطقة <b>عين عيسى</b> </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE<br /></font></b></span></font> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 19COLON02COLON04 |title 145227035432 |identifier 145227035432 |addeddate 2016-01-20 19COLON02COLON04 |subject PIPEPIPEهجوم لجنود الخلافة على مواقع الـ PKK المرتدين غربي منطقة عين عيسى PIPEPIPE 
+1 |uploader kaldhussen yahoo.com |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000"> 230 بين قتيل وجريح بعملية استشهادية على مع للمرتدين في مدينة <b>زليتن PIPEPIPE</b></font></b></span></font> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON57COLON51 |title 15dloc 1 |identifier 15dloc1 |addeddate 2016-01-20 18COLON57COLON51 |subject PIPEPIPE 230 بين قتيل وجريح بعملية استشهادية على مع للمرتدين في مدينة زليتن PIPEPIPE 
+1 |uploader akhbar.sa.tn gmail.com |description ss |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 15COLON55COLON21 |title 1 Al QGy 20 1 2016.mp 4.480p |identifier 1AlQGy2012016.mp4.480p |addeddate 2016-01-20 15COLON55COLON21 |subject ss 
+1 |uploader x5hs1 mail.ru |description a3maq |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 20COLON17COLON03 |title 1dr 20012016 |identifier 1dr20012016 |addeddate 2016-01-20 20COLON17COLON03 |subject a3maq 
+1 |uploader x5hs1 mail.ru |description a3maq |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 16COLON15COLON45 |title 1dryr 20012016 |identifier 1dryr20012016 |addeddate 2016-01-20 16COLON15COLON45 |subject a3maq 
+1 |uploader aboahmed89 tutanota.com |description فيديو يظهر المواقع التي سيطرت عليها قوات الدولة الإسلامية مؤخرا في دير الزور |collection opensource_movies loggedin |identifier aboahmed89_tutanota_20160120_1927 |subject فيديو يظهر المواقع التي سيطرت عليها قوات الدولة الإسلامية مؤخرا في دير الزور |creator فيديو يظهر المواقع التي سيطرت عليها قوات الدولة الإسلامية مؤخرا في دير الزور |publicdate 2016-01-20 19COLON28COLON56 |title فيديو يظهر المواقع التي سيطرت عليها قوات الدولة الإسلامية مؤخرا في دير الزور |addeddate 2016-01-20 19COLON28COLON56 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader aboahmed89 tutanota.com |description ملاحقة وتصفية عناصر من قوات النظام في جبل الجحيف غربي دير الزور |subject ملاحقة وتصفية عناصر من قوات النظام في جبل الجحيف غربي دير الزور |publicdate 2016-01-20 20COLON51COLON59 |title ملاحقة وتصفية عناصر من قوات النظام في جبل الجحيف غربي دير الزور |collection opensource_movies loggedin |identifier aboahmed89_tutanota_20160120_2050 |scanner Internet Archive HTML5 Uploader 1.6.3 |addeddate 2016-01-20 20COLON51COLON59 
+1 |uploader aboahmed89 tutanota.com |description الحق بالركب |collection opensource_movies loggedin |identifier aboahmed89_tutanota_20160120_2154 |subject الحق بالركب |creator الحق بالركب |publicdate 2016-01-20 21COLON54COLON59 |title الحق بالركب |addeddate 2016-01-20 21COLON54COLON59 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader djggddgts yandex.com |description AADSE |collection opensource_movies |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 20COLON57COLON29 |title aljazair |identifier aljazai25 |addeddate 2016-01-20 20COLON57COLON29 |subject AAEC 
+1 |uploader rfger.ergreg mail.ru |description i9uji |collection opensource_movies |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 15COLON53COLON13 |title aljazair |identifier aljazair |addeddate 2016-01-20 15COLON53COLON13 |subject iojio 
+1 |uploader Vxvc95i tutanota.com |description furat |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 15COLON35COLON00 |title إلى فرسان المغرب الإسلامي |identifier AMALOMAH_20160120 |addeddate 2016-01-20 15COLON35COLON00 |subject isdarat 
+1 |uploader Vxvc95i tutanota.com |description demashq |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 16COLON38COLON23 |title ولا عدوان إلا على الظالمين |identifier AMALOMAH_20160120_1637 |addeddate 2016-01-20 16COLON38COLON23 |subject isdarat 
+1 |uploader Vxvc95i tutanota.com |description مؤسسة البتار للإنتاج الإعلامي |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 17COLON49COLON48 |title بيعة ليبيا المختار للخليفة |identifier AMALOMAH_20160120_1748 |addeddate 2016-01-20 17COLON49COLON48 |subject isdarat 
+1 |uploader Vxvc95i tutanota.com |description hems |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 19COLON12COLON25 |title إليكم يا بني قومي رسالة |identifier AMALOMAH_20160120_1911 |addeddate 2016-01-20 19COLON12COLON25 |subject isdarat 
+1 |
+1 |uploader b2slamna1 ghostmail.com |description ولاية الرقة COLON بلاد الفاتحين<div>#المغرب _الإسلامي</div> |collection opensource_movies loggedin |identifier beladFat7en |subject بلاد الفاتحين; المغرب الإسلامي |creator عزنا بإسلامنا |publicdate 2016-01-20 20COLON36COLON27 |title ولاية الرقة COLON بلاد الفاتحين |addeddate 2016-01-20 20COLON36COLON27 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader shadrtyhjui777k55678km msn.com |date 2016-01-19 |collection opensource_movies loggedin |publicdate 2016-01-20 14COLON04COLON44 |identifier bilaadalfatiheen |creator أبي محمد الأنصاري119 |year 2016 |title المكتب الإعلامي لولاية الرقة يقدمCOLONبلاد الفاتحين # الثلاثاء 08 ربيع الثاني 1437 هـ |addeddate 2016-01-20 14COLON04COLON44 |language eng 
+1 |uploader ejkg1xqa randomail.net |publicdate 2016-01-20 21COLON45COLON48 |collection opensource_movies loggedin |identifier biledalfatihin-001 |subject ولاية الرقة ; الإصدار المرئي ; بلاد الفاتحين |creator ابو قدامة المهاجر |year 2015 |title ولاية الرقة الإصدار المرئي بلاد الفاتحين |addeddate 2016-01-20 21COLON45COLON48 |language eng 
+1 |uploader t0v88j7f randomail.net |publicdate 2016-01-20 21COLON47COLON16 |collection opensource_movies loggedin |identifier biledalfatihin-002 |subject ولاية الرقة ; الإصدار المرئي ; بلاد الفاتحين |creator ابو قدامة المهاجر |year 2015 |title ولاية الرقة الإصدار المرئي بلاد الفاتحين |addeddate 2016-01-20 21COLON47COLON16 |language eng 
+1 |uploader b2slamna1 ghostmail.com |description ولاية نينوى COLON إلى بلاد المغرب الإسلامي |collection opensource_movies loggedin |identifier bladmag |subject دولة الخلافة; المغرب الإسلامي |creator عزنا بإسلامنا |publicdate 2016-01-20 20COLON44COLON45 |title ولاية نينوى COLON إلى بلاد المغرب الإسلامي |addeddate 2016-01-20 20COLON44COLON45 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader kaldhussen yahoo.com |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000"> إسقاط طائرة مسيرة أمريكية في منطقة عكاشات جنوبي الولاية </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 19COLON04COLON36 |title CYNm Hd AWc AA X N.jpg Large |identifier CYNmHdAWcAAXN.jpgLarge |addeddate 2016-01-20 19COLON04COLON36 |subject PIPEPIPE إسقاط طائرة مسيرة أمريكية في منطقة عكاشات جنوبي الولاية PIPEPIPE 
+1 |uploader shadrtyhjui777k55678km msn.com |publicdate 2016-01-20 22COLON02COLON52 |title o |collection opensource_movies loggedin |identifier dsdsdsdsod0oieiueufjfvmfjjfo0o |language eng |addeddate 2016-01-20 22COLON02COLON52 
+1 |uploader b2slamna1 ghostmail.com |description ولاية الجزائر COLON الحق بالركب |collection opensource_movies loggedin |identifier el7aqbe |subject ولاية الجزائر; المغرب الإسلامي; دولة الخلافة |creator عزنا بإسلامنا |publicdate 2016-01-20 21COLON47COLON48 |title ولاية الجزائر COLON الحق بالركب |addeddate 2016-01-20 21COLON47COLON48 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader bgewsghklgccssw yahoo.com |publicdate 2016-01-20 20COLON02COLON39 |collection opensource_movies loggedin |identifier el_hm |creator ولاية حمص // الإصدار المرئي PIPEPIPE إليكم يا بني قومي رسالة PIPEPIPE |year 2016 |language ar |title ولاية حمص // الإصدار المرئي PIPEPIPE إليكم يا بني قومي رسالة PIPEPIPE |addeddate 2016-01-20 20COLON02COLON39 |description ولاية حمص // الإصدار المرئي PIPEPIPE إليكم يا بني قومي رسالة PIPEPIPE 
+1 |uploader gharibgt tutanota.com |description إلى فرسان مغرب الإسلام |collection opensource_movies loggedin |identifier gharibgt_tutanota_20160120 |subject إلى فرسان مغرب الإسلام |creator إلى فرسان مغرب الإسلام |publicdate 2016-01-20 15COLON56COLON21 |title إلى فرسان مغرب الإسلام |addeddate 2016-01-20 15COLON56COLON21 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader gharibgt tutanota.com |description ولا عدوان إلا على الظالمين |collection opensource_movies loggedin |identifier gharibgt_tutanota_20160120_1607 |subject ولا عدوان إلا على الظالمين |creator ولا عدوان إلا على الظالمين |publicdate 2016-01-20 16COLON08COLON20 |title ولا عدوان إلا على الظالمين |addeddate 2016-01-20 16COLON08COLON20 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader gharibgt tutanota.com |description نعم نغضب |collection opensource_movies |identifier gharibgt_tutanota_20160120_1638 |subject نعم نغضب |creator نعم نغضب |publicdate 2016-01-20 16COLON38COLON59 |title نعم نغضب |addeddate 2016-01-20 16COLON38COLON59 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader gharibgt tutanota.com |description بيعة ليبيا المختار للخليفة الكرار |collection opensource_movies |identifier gharibgt_tutanota_20160120_1712 |subject بيعة ليبيا المختار للخليفة الكرار |creator بيعة ليبيا المختار للخليفة الكرار |publicdate 2016-01-20 17COLON16COLON23 |title بيعة ليبيا المختار للخليفة الكرار |addeddate 2016-01-20 17COLON16COLON23 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader gharibgt tutanota.com |description إليكم يا بني قومي رسالة |collection opensource_movies loggedin |identifier gharibgt_tutanota_20160120_1857 |subject إليكم يا بني قومي رسالةإليكم يا بني قومي رسالة |creator إليكم يا بني قومي رسالة |publicdate 2016-01-20 18COLON59COLON09 |title إليكم يا بني قومي رسالة |addeddate 2016-01-20 18COLON59COLON09 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader gharibgt tutanota.com |description الحق بالركب |collection opensource_movies loggedin |identifier gharibgt_tutanota_20160120_2120 |subject الحق بالركب |creator الحق بالركب |publicdate 2016-01-20 21COLON24COLON33 |title الحق بالركب |addeddate 2016-01-20 21COLON24COLON33 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader ilhem_nor hotmail.fr |description قسوة القلب ؛ أن تبكيك الموسيقى ، ولقطات فيلم وقصيدة شاعر .. ولا يبكيك القران <br /> |collection opensource_media |identifier ilhem_nor_hotmail_20160120 |subject القران الموسيقى فلم |creator Adi |publicdate 2016-01-20 18COLON59COLON42 |title القران |addeddate 2016-01-20 18COLON59COLON42 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |date 2016-01-20 |collection opensource_media loggedin |addeddate 2016-01-20 16COLON46COLON34 |publicdate 2016-01-20 16COLON46COLON34 |identifier iraqlion_20160120 |subject iraqlion |creator iraqlion |description iraqlion |title iraqlion |uploader gowentgn gmail.com |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |date 2016-01-20 |collection opensource_media loggedin |addeddate 2016-01-20 16COLON53COLON09 |publicdate 2016-01-20 16COLON53COLON09 |identifier iraqlion_20160120_1652 |subject iraqlion |creator iraqlion |description <h1 |title iraqlion |uploader gowentgn gmail.com |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |date 2016-01-19 |collection opensource_audio |addeddate 2016-01-20 18COLON08COLON31 |publicdate 2016-01-20 18COLON08COLON31 |identifier IRIBInEnglish19January20161930GMT7425kHz |subject shortwave; IRIB Voice of Iran English radio |creator ShortwaveRecordings |description IRIB - Voice of the Islamic Republic of Iran in English recorded in Europe at 1930 GMT on January 19, 2016 from the shortwave frequency of 7425 kHz |title IRIB In English 19 January 2016 1930 GMT 7425k Hz |uploader shortwaverecordings email.cz |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader dmshko bk.ru |description <p>00</p> |collection opensource_movies loggedin loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 13COLON00COLON52 |title ISDARDIMSHK |identifier ISDARDIMSHK |addeddate 2016-01-20 13COLON00COLON52 |subject 600 
+1 |uploader hgfhbgfhghgjretgrgfg mail.ru |year 2014 |collection opensource_movies loggedin |subject shamikh1.info/vb; Islam |publicdate 2016-01-20 17COLON28COLON12 |title ولا_عدوان_الا_على_الظالمين |identifier ISDARDIMSHK_ |language eng |addeddate 2016-01-20 17COLON28COLON12 
+1 |uploader islamicstate93 tutanota.com |description ولاية دمشق <br /> |collection opensource_movies |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 17COLON00COLON51 |title ولاعدوان الا على الظالمين |identifier ISDARDIMSHK_20160120 |addeddate 2016-01-20 17COLON00COLON51 |subject ولاية دمشق 
+1 |uploader islamicstate93 tutanota.com |description ولاية حمص <br /> |collection opensource_movies |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 19COLON44COLON47 |title اليكم يابني قومي رسالة |identifier islamicstate93_tutanota_20160120_1935 |addeddate 2016-01-20 19COLON44COLON47 |subject ولاية حمص 
+1 |
+1 |uploader islamicstate93 tutanota.com |description ولاية الجزائر<br /> |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 22COLON00COLON22 |title الجزائر الحق بالركب |identifier islamicstate93_tutanota_20160120_2157 |addeddate 2016-01-20 22COLON00COLON22 |subject ولاية الجزائر 
+1 |description <small>Instrucciones en Espanol<br /></small> |collection opensource_movies |licenseurl  |identifier JcK0296Dixit_6_Memories |subject Dixit Memories JcK Jugando con Ketty VideoResena Video Resena Como jugar Juego de Mesa BoardGame |creator JcK |addeddate 2016-01-20 23COLON21COLON09 |publicdate 2016-01-20 23COLON21COLON09 |scanner Internet Archive HTML5 Uploader 1.6.3 |title JcK0296Dixit_6_Memories |uploader jugandoconketty gmail.com |language spa 
+1 |subject Syria |publicdate 2016-01-20 14COLON49COLON11 |collection opensource_movies |addeddate 2016-01-20 14COLON49COLON03 |uploader h.freriks quicknet.nl |title JN_201601 |identifier JN_201601 |description Atirah |creator  
+1 |runtime 2 minutes 48 seconds |description Atirah |collection opensource_movies |addeddate 2016-01-20 14COLON52COLON40 |identifier JN_20160120 |subject Syria |creator  |publicdate 2016-01-20 14COLON52COLON47 |title JN_20160120 |uploader h.freriks quicknet.nl 
+1 |uploader akhbar.sa.tn gmail.com |description ss |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 16COLON49COLON48 |title k0zrjeqvxt6_480 |identifier k0zrjeqvxt6_480 |addeddate 2016-01-20 16COLON49COLON48 |subject ss 
+1 |uploader kaldhussen yahoo.com |description <b style="colorCOLONrgb(255,0,0);" rel="nofollow">ولاية الجزيرة // تقرير مصور PIPEPIPE سير المعارك في قاطع المزارع PIPEPIPE</a></b> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON01COLON55 |title 1 |identifier kaldhussen_yahoo_1_20160120 |addeddate 2016-01-20 18COLON01COLON55 |subject ولاية الجزيرة // تقرير مصور PIPEPIPE سير المعارك في قاطع المزارع PIPEPIPE 
+1 |uploader kaldhussen yahoo.com |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">صلاة الجمعة في قاطع القريتين </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON12COLON29 |title 1 |identifier kaldhussen_yahoo_1_20160120_1812 |addeddate 2016-01-20 18COLON12COLON29 |subject PIPEPIPEصلاة الجمعة في قاطع القريتين PIPEPIPE 
+1 |uploader kaldhussen yahoo.com |description <b style="colorCOLONrgb(255,0,0);" rel="nofollow">PIPEPIPE جانب من صلاة الجمعة في زوبع PIPEPIPE</a></b> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON16COLON58 |title 1 |identifier kaldhussen_yahoo_1_20160120_1816 |addeddate 2016-01-20 18COLON16COLON58 |subject PIPEPIPE جانب من صلاة الجمعة في زوبع PIPEPIPE 
+1 |uploader kaldhussen yahoo.com |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">قنص جندي صفوي/ زوبع </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON21COLON48 |title 1 |identifier kaldhussen_yahoo_1_20160120_1821 |addeddate 2016-01-20 18COLON21COLON48 |subject PIPEPIPE قنص جندي صفوي/ زوبع PIPEPIPE 
+1 |uploader kaldhussen yahoo.com |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">جانب من رباط جنود الخلافة على صحوات الردة في قرية البل </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE<br /></font></b></span></font> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON33COLON41 |title 1 |identifier kaldhussen_yahoo_1_20160120_1833 |addeddate 2016-01-20 18COLON33COLON41 |subject PIPEPIPEجانب من رباط جنود الخلافة على صحوات الردة في قرية البل PIPEPIPE 
+1 |uploader kaldhussen yahoo.com |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">يوم الجمعة في مدينة <b>منبج</b> </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON43COLON22 |title 1 |identifier kaldhussen_yahoo_1_20160120_1842 |addeddate 2016-01-20 18COLON43COLON22 |subject PIPEPIPEيوم الجمعة في مدينة منبج PIPEPIPE 
+1 |uploader kaldhussen yahoo.com |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000"> إسقاط طائرة أمريكية مسيرة بعد التصدي لها بالمضادات الأرضية قرب منطقة عاكاشات جنوبي الولاية </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 19COLON07COLON27 |title 1 |identifier kaldhussen_yahoo_1_20160120_1907 |addeddate 2016-01-20 19COLON07COLON27 |subject PIPEPIPE إسقاط طائرة أمريكية مسيرة بعد التصدي لها بالمضادات الأرضية قرب منطقة عاكاشات جنوبي الولاية PIPEPIPE 
+1 |uploader kaldhussen yahoo.com |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000"> جانب من غزوة الشيخ أبي عبدالله "سعد الأنصاري" - تقبله الله - لتطهير سدة سامراء من الجيش الصفوي وميليشياته </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font /> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 20COLON07COLON32 |title 1 |identifier kaldhussen_yahoo_1_20160120_2006 |addeddate 2016-01-20 20COLON07COLON32 |subject PIPEPIPE جانب من غزوة الشيخ أبي عبدالله "سعد الأنصاري" - تقبله الله - لتطهير سدة سامراء من الجيش الصفوي وميليشياته PIPEPIPE 
+1 |uploader kaldhussen yahoo.com |description <div size="5"><span style="font-familyCOLON'traditional arabic';"><b><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font color="#800000">صلاة الجمعة في جامع بلال بن رباح في قرية سوحا </font></b></span></font><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font /></div><div><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font color="#800000"><br /></font></b></span></font></div> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON26COLON05 |title 2 2 |identifier kaldhussen_yahoo_22_201601 |addeddate 2016-01-20 18COLON26COLON05 |subject PIPEPIPEصلاة الجمعة في جامع بلال بن رباح في قرية سوحا PIPEPIPE 
+1 |uploader kaldhussen yahoo.com |description <div size="5"><span style="font-familyCOLON'traditional arabic';"><b><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font color="#800000">صلاة الجمعة في جامع بلال بن رباح في قرية سوحا </font></b></span></font><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font /></div><div><font size="5"><span style="font-familyCOLON'traditional arabic';"><b><font color="#800000"><br /></font></b></span></font></div> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON27COLON29 |title 2 2 |identifier kaldhussen_yahoo_22_20160120 |addeddate 2016-01-20 18COLON27COLON29 |subject PIPEPIPEصلاة الجمعة في جامع بلال بن رباح في قرية سوحا PIPEPIPE 
+1 |uploader kaldhussen yahoo.com |description <font size="5" style="font-familyCOLON'traditional arabic';"><b><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000"> صلاة الجمعة في أحد مساجد مدينة <b>الشدادي</b> </font></b></span></font><font size="5" style="font-familyCOLON'traditional arabic';"><b><font color="#800000">PIPEPIPE</font></b></span></font> |collection opensource_media |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON49COLON58 |title 2 |identifier kaldhussen_yahoo_2_201601 |addeddate 2016-01-20 18COLON49COLON58 |subject PIPEPIPE صلاة الجمعة في أحد مساجد مدينة الشدادي PIPEPIPE 
+1 |uploader b2slamna1 ghostmail.com |description من سيناء الشام إلى أهلنا في مغرب الإسلام |collection opensource_movies loggedin |identifier mensaina-1 |subject ولاية سيناء; المغرب الإسلامي |creator عزنا بإسلامنا |publicdate 2016-01-20 20COLON58COLON10 |title ولاية سيناء COLON من سيناء الشام إلى أهلنا في مغرب الإسلام |addeddate 2016-01-20 20COLON58COLON10 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader shadrtyhjui777k55678km msn.com |date 2016-01-19 |collection opensource_movies loggedin |publicdate 2016-01-20 21COLON59COLON49 |identifier mnsennaaao0oalshaam |creator أبي محمد الأنصاري119 |year 2016 |title المكتب الإعلامي لولاية سيناء يقدمCOLONمن سيناء الشام إلى أهلنا في مغرب الإسلام # الثلاثاء 08 ربيع الثاني 1437 هـ |addeddate 2016-01-20 21COLON59COLON49 |language eng 
+1 |uploader shadrtyhjui777k55678km msn.com |publicdate 2016-01-20 14COLON09COLON50 |title o |collection opensource_movies loggedin |identifier nnvnfnffkfkldkflkflf0o0o |language eng |addeddate 2016-01-20 14COLON09COLON50 
+1 |uploader akhbar.sa.tn gmail.com |description ss |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 16COLON33COLON52 |title qnthdv2kdwk_720 |identifier qnthdv2kdwk_720 |addeddate 2016-01-20 16COLON33COLON52 |subject ss 
+1 |uploader aboahmed89 tutanota.com |description فيديو يظهر قرى قرة كوبري وغزل ويني يابان في ريف حلب الشمالي بعد استعادة مقاتلي الدولة الإسلامية السيطرة عليهم |subject فيديو يظهر قرى قرة كوبري وغزل ويني يابان في ريف حلب الشمالي بعد استعادة مقاتلي الدولة الإسلامية السيطرة عليهم |publicdate 2016-01-20 19COLON28COLON41 |title فيديو يظهر قرى قرة كوبري وغزل ويني يابان في ريف حلب الشمالي بعد استعادة مقاتلي الدولة الإسلامية السيطرة عليهم |collection opensource_movies loggedin |identifier qsfzaaboahmed89_tutanota_20160120_1928 |scanner Internet Archive HTML5 Uploader 1.6.3 |addeddate 2016-01-20 19COLON28COLON41 
+1 |uploader aboahmed89 tutanota.com |description إليكم يا بني قومي رسالة |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 19COLON26COLON56 |title إليكم يا بني قومي رسالة |identifier razaboahmed89_tutanota_20160120_1926 |addeddate 2016-01-20 19COLON26COLON56 |subject إليكم يا بني قومي رسالة 
+1 |uploader b2slamna1 ghostmail.com |description <div>سحروا أعين الناس واسترهبوهم</div><div>#المغرب_الإسلامي</div> |collection opensource_movies loggedin |identifier sa7roaa |subject دولة الخلافة; المغرب الإسلامي |creator عزنا بإسلامنا |publicdate 2016-01-20 20COLON12COLON30 |title ولاية الخير COLON سحروا أعين الناس واسترهبوهم |addeddate 2016-01-20 20COLON12COLON30 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader aboahmed89 tutanota.com |description ولا عدوان إلا على الظالمين |collection opensource_movies loggedin |identifier sfzaboahmed89_tutanota_20160120 |subject ولا عدوان إلا على الظالمين |creator ولا عدوان إلا على الظالمين |publicdate 2016-01-20 19COLON24COLON10 |title ولا عدوان إلا على الظالمين |addeddate 2016-01-20 19COLON24COLON10 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |subject الشرافي - كلمات منوعة |publicdate 2016-01-20 22COLON11COLON32 |collection opensource_audio |addeddate 2016-01-20 22COLON11COLON24 |uploader manzahy gmail.com |title كلمات قصيرة عبر الواتساب لشيخنا / محمد بن مبارك الشرافي رفع/ محمد بن صلاح الدين منزهي بتاريخ 11/4/1437 هـ |identifier sharafi0167 |description 1- الأسباب المعينة على طلب العلم والاستمرار عليه 2- التحذير من ألفاظ منتشرة تجر إلى الشرك 3- آية الكرسي 4- كلمة حول العلم وفضله 5- كلمة حول تعلق الناس بمتابعة أحوال الطقس والإفراط في ذلك 6- كلمة حول مولد النبي محمد صلى الله عليه وسلم 7- مسائل في الكسوف وصلاته |creator  
+1 |uploader tyui_94 inbox.ru |description sdcvs |collection opensource_movies |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON31COLON23 |title Srvrrft |identifier Srvrrft |addeddate 2016-01-20 18COLON31COLON23 |subject regfre 
+1 |uploader hgfhbgfhghgjretgrgfg mail.ru |year 2014 |collection opensource_movies loggedin |subject shamikh1.info/vb; Islam |publicdate 2016-01-20 19COLON09COLON56 |title إليكم_يا_بني_قومي_رسالة |identifier Srvrrft_ |language eng |addeddate 2016-01-20 19COLON09COLON56 
+1 |uploader akhbar.sa.tn gmail.com |description ss |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 18COLON53COLON24 |title Srvrrft |identifier Srvrrft_201601 |addeddate 2016-01-20 18COLON53COLON24 |subject ss 
+1 |uploader hgfhbgfhghgjretgrgfg mail.ru |year 2014 |collection opensource_movies loggedin |subject shamikh1.info/vb; Islam |publicdate 2016-01-20 14COLON59COLON33 |title إلى_فرسان_مغرب_الإسلام |identifier to_fursan_maghreb_islam_ |language eng |addeddate 2016-01-20 14COLON59COLON33 
+1 |uploader snarito54 tutanota.com |description To Fursan Maghreb Islam |collection opensource_movies |identifier ToFursanMaghrebIslam |subject To Fursan Maghreb Islam |creator To Fursan Maghreb Islam |publicdate 2016-01-20 13COLON22COLON34 |title To Fursan Maghreb Islam |addeddate 2016-01-20 13COLON22COLON34 |scanner Internet Archive HTML5 Uploader 1.6.3 
+1 |uploader akhbar.sa.tn gmail.com |description ss |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 15COLON12COLON37 |title To Fursan Maghreb Islam |identifier ToFursanMaghrebIslam_201601 |addeddate 2016-01-20 15COLON12COLON37 |subject ss 
+1 |uploader islamicstate93 tutanota.com |description ولاية الفرات<br /> |collection opensource_movies loggedin |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 15COLON54COLON50 |title إلى فرسان مغرب الإسلام |identifier ToFursanMaghrebIslam_20160120 |addeddate 2016-01-20 15COLON54COLON50 |subject ولاية الفرات 
+1 |uploader icehousecafe gmail.com |description WJZM |collection opensource_audio |scanner Internet Archive HTML5 Uploader 1.6.3 |publicdate 2016-01-20 15COLON54COLON57 |title wjzm011916gmc |identifier wjzm011916gmc_201601 |addeddate 2016-01-20 15COLON54COLON57 |subject wjzm 
+1 |uploader b2slamna1 ghostmail.com |description ولاية حمص COLON إليكم يا بني قومي رسالة |collection opensource_movies loggedin |identifier yabniqaa |subject دولة الخلافة; ولاية حمص; المغرب الإسلامي |creator عزنا بإسلامنا |publicdate 2016-01-20 22COLON25COLON02 |title ولاية حمص COLON إليكم يا بني قومي رسالة |addeddate 2016-01-20 22COLON25COLON02 |scanner Internet Archive HTML5 Uploader 1.6.3 
